.call-to-action {
  font-size:20px;
  color: #426E8A;
}

.judge-header {
    font-family: papyrus;
    color: #fff;
    font-size: 21px;
    padding: 5px 15px;
    text-align: center;
    background-color:#426E8A;
}

ul {
   border-bottom-left-radius: 15px;
   border-top-left-radius: 15px;
   float:left;
   overflow:hidden;
}

/* tab color */
.nav-pills>li>a {
  color: #fff;
  background-color: #426E8A;
}

/* active tab color */
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #62A1CA;
}

/* hover tab color */
.nav-pills>li>a:hover {
  background-color: #62A1CA;
}

.icon-car {
  background-image: url("../images/blacktocat.png");
  background-position: center center;
  height: 14px;
  width: 14px;
}

.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}
.panel-heading div span{
	margin-left:5px;
}
.panel-body{
	display: none;
}

.progress {
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(66, 110, 138, 0.6);
  border-radius: 10px;
  height: 25px;
}

.progress-bar-custom {
  background: rgba(219, 131, 33, 1);
}

.panel-custom {
  border: 1px solid #62A1CA;
}

.panel-custom > .panel-heading {
  color: #fff;
  background-color: #62A1CA;
}
